<% if (page.type) { %>
  <!-- 左侧菜单 -->
  <%- partial('partials/sidebar', {type: page.type === 'menu' ? 'guide': page.type, index: page.index}) %>
  <% }else { %>
    <div class="sidebar">
      <ul class="main-menu">
        <%- partial('partials/main_menu', {context: 'sidebar'}) %>
      </ul>
    </div>
    <% } %>

    <div class="content">
      <% if(page.type) { %>
        <% if(page.type === 'menu') { %>
          <%- partial('partials/toc', {type: 'guide'}) %>
        <% } else { %>
          <%- partial('partials/ad') %>
        <% } %>

        <% if(page.title.trim()) { %>
          <h1><%- page.title %><%- page.type === 'examples'? 'Example': '' %></h1>
        <% } %>

          <!-- 分页 -->
        <% if (page.type === 'guide') { %>
          <div class="guide-links">
            <% const lastPage = site.pages.find({type: page.type, order: {$lt: page.order}}).sort({order: -1}).first(); %>
            <% if(lastPage){ %>
              <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
            <% } %>
            <% const nextPage = site.pages.find({type: page.type, order: {$gt: page.order}}).sort({order: 1}).first(); %>
            <% if(nextPage){ %>
              <span style="float: right;"> <a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a>→</span>
            <% } %>
          </div>
          <% } %>
    </div>